# ClickHouse
CH_HOST=clickhouse
CH_PORT=8123
CH_USER=default
CH_PASSWORD=clickhouse
CH_DB=ecommerce

# Generator
INTERVAL_SEC=2
BATCH_SIZE=150
SEED=42
ANOMALY_RATE=0.01

# Superset metadata (Postgres)
PG_USER=superset
PG_PASSWORD=superset
PG_DB=superset

# Superset
SUPERSET_SECRET_KEY=change-me-in-prod
SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=admin